<div class="main users-edit">
  <div class="container">
    <h1 class="form-heading">ユーザー情報の編集</h1>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%=  form_tag("/users/#{@user.id}/update") do %>
          <p>ユーザー名</p>
          <input name="name" value="<%= @user.name %>">　
          <p>メールアドレス</p>
          <input name="email" value="<%= @user.email %>">
          <p>マロンの好きなところ</p>
          <input name="marronlike" value="<%= @user.marronlike %>">
          <input class="users-submit" type="submit" value="保存">
        <% end %>
      </div>
    </div>
  </div>
</div>
