<div class="main posts-show">
  <div class="triangle">
    <div class="small"></div>
    <div class="medium"></div>
    <div class="large"></div>
  </div>
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-content">
        <p><%= @post.content %></p>
      </div>
      <div class="post-user-name">
       <p>▶<%= link_to(@user.name,"/users/#{@user.id}") %><p>
      </div>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集","/posts/#{@post.id}/edit") %>
          <%= link_to("削除","/posts/#{@post.id}/destroy",{method: "post"}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
