<!DOCTYPE html>
<html>
  <head>
    <title>Marron</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> %>
  </head>

  <body>
    <header>
      <div class="header-logo">
          <%= link_to("Marron", "/") %>
      </div>

      <%#<div class="wrap">
        <li id="menu_link">
          <i class="fas fa-bars"></i>
        </li>

      <div class="icon_link_tab">
        <div class="close_btn">
          <i class="fas fa-times"></i>
        </div> %>
        <ul class="header-menus">
          <% if @current_user %>
            <li>
               <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>さん
            </li>
            <li>
              <%= link_to("profile", "/profile") %>
            </li>
            <li>
              <%= link_to("question", "/question/new") %>
            </li>
            <li>
              <%= link_to("allposts", "/posts/index") %>
            </li>
            <li>
              <%= link_to("post", "/posts/new") %>
            </li>
            <li>
              <%= link_to("photo","/photo/content") %>
            </li>
            <li>
              <%= link_to("logout","/logout",{method: :post})%>　
            </li>
          <% else %>
            <li>
              <%= link_to("profile", "/profile") %>
            </li>
            <li>
              <%= link_to("question", "/question/new") %>
            </li>
            <%#<li>
              <%= link_to("singup","/signup") %>
            <%#</li>%>
            <li>
              <%= link_to("login","/login") %>
            </li>
          <% end %>
        </ul>
      <%#</div>%>
    </header>




     <%= yield %>



    <footer>
      <div class="footer-logo">yutta.pro</div>
    </footer>
  </body>
</html>
